{% extends 'base/base.html' %}

{% block title %}Product List{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>List Inward</h1>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}



<a href="{% url 'showroom_detail_list_inward' %}"> <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
Detail View
</button> </a> <br> <br>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">List Inward</h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Comapny</th>
                                <th>Distributor</th>
                                <th>Bike Quantity</th>
                                <th>Date</th>
                                <th>Actions</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% if data %}
                            {% for i in data %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                                {% if i.company_outward %}
                                    <td> Green Power </td>
                                    <td> None </td>
                                    <td>{{ i.company_outward.bike_qty }}</td>
                                    <td>{{ i.company_outward.date }}</td>
                                {% else %}
                                    <td>None</td>
                                    <td>{{ distributor }}</td>
                                    <td>{{ i.distributor_outward.bike_qty }}</td>
                                    <td>{{ i.distributor_outward.date }}</td>
                                {% endif %}
                                
                                <td>  
                                   <a href="{% url 'showroom_view_inward' i.id %}"> <button id="payment-button"  style="background-color: #40a94b; border: #40a94b;  padding: 10px;border-radius: 12px;" type="submit" class="btn-info ">
                                        <span id="payment-button-amount">View</span>
                                    </button>  </a>

                                  
                                   
                                </td>
                               
                               
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr><td>No Product Data</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->

    
</div>


<script>
    
    
</script>


{% endblock content %}