{% extends 'base/base.html' %}



{% block title %}Create Product{% endblock title %}

{% block breadcrumbs %}
<div >
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Add </h1>
                    </div>
                </div>
            </div>
             {% comment %} <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Product</a></li>
                            <li class="active">Create</li>
                        </ol>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Add Dealer</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <form action="#" method="post" >
                            {% csrf_token %}

                            
                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Status</label>
                                {{ form.status }}
                                <small class="text-danger"> {{ form.status.errors.as_text }} </small>

                            </div>
                           
                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Shoowroom</label>
                                {{ form.showroom }}
                                <small class="text-danger"> {{ form.showroom.errors.as_text }} </small>

                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Distributor</label>
                                {{ form.distributor }}
                                <small class="text-danger"> {{ form.distributor.errors.as_text }} </small>

                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Name</label>
                                {{ form.name }}
                                <small class="text-danger"> {{ form.name.errors.as_text }} </small>

                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Address</label>
                                {{ form.address }}
                                <small class="text-danger"> {{ form.address.errors.as_text }} </small>

                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Place</label>
                                {{ form.place }}
                                <small class="text-danger"> {{ form.place.errors.as_text }} </small>
                                
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Taluka</label>
                                {{ form.taluka }}
                                <small class="text-danger"> {{ form.taluka.errors.as_text }} </small>

                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">District</label>
                                {{ form.district }}
                                <small class="text-danger"> {{ form.district.errors.as_text }} </small>


                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Mobile Number</label>
                                {{ form.mobile_number }}
                                <small class="text-danger"> {{ form.mobile_number.errors.as_text }} </small>

                            </div>

                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                    <span id="payment-button-amount">Create Product</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div><!--/.col-->
</div>


{% block js %}

<script>

    $("#distributor").change(function () {
        document.getElementById('dealer').value = '';
    });

    $("#dealer").change(function () {
        document.getElementById('distributor').value = '';
    });


</script>
{% endblock js %}

{% endblock content %}