{% extends 'base/base.html' %}

{% block head %}

<style>

    fieldset {
        border: 1px solid #000;
        margin: 40px;
        padding: 20px;
    }

</style>

{% endblock %}

{% block title %}Create Product{% endblock title %}

{% block breadcrumbs %}
<div >
    <div class="breadcrumbs-inner">
        <div class="row m-0">
           
             {% comment %} <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Product</a></li>
                            <li class="active">Create</li>
                        </ol>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">View Inward</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <div class="content" id="message_div" style="display:none;">
                            <!-- Animated -->
                            <div class="animated fadeIn">
                                
                                <div class="alert alert-danger alert-dismissible fade show" style="display: contents;" id="message" role="alert">
                               
                                
                            </div>
                        </div>
                        </div>
                        

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Variant</label>
                                {{ form.variant }}
                                <small class="text-danger"> {{ form.bike.errors.as_text }} </small>

                            </div>
                            
                           
                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Date</label>
                                <input type="text" class="form-control" value="{{ instance.date }}">
                                <small class="text-danger"> {{ form.date.errors.as_text }} </small>

                            </div>
                            <label for="name" class="control-label mb-1">Bike Qty</label>

                            <div class="form-group" style="display:flex;">
                                <input type="number" name="bike_qty" value="{{ form.bike_qty.value  }}" class="form-control modified" id="bike_qty" required="" readonly>
                            </div> 

                            <form id="inward_form">
                            
                                {% csrf_token %}
                            <div id="dyanamic" name="dyanamic">
                                


                                
                                {% for i in data %}
                                
                                    <fieldset>
                                        <legend style="font-size: 15px;width: 14%;max-width: 100%;padding: 12px;"> Bike {{ forloop.counter }}</legend>

                                        <input type="hidden" name="bike_number_id" value="{{ i.id }}">
                                        
                                        <div class="form-group">
                                            <label for="name" class="control-label mb-1">Chasis Number</label>
                                            <input type="text" value="{{ i.chasis_no }}" name="chasis_no" class="form-control" id="company" maxlength="120" required="">
                                        </div>

                                        <div class="form-group">
                                            <label for="name" class="control-label mb-1">Motor Number</label>
                                            <input type="text" value="{{ i.motor_no }}" name="motor_no" class="form-control" id="company" maxlength="120" required="">
                                        </div>

                                        <div class="form-group">
                                            <label for="name" class="control-label mb-1">Controller Number</label>
                                            <input type="text" value="{{ i.controller_no }}" name="controller_no" class="form-control" id="company" maxlength="120" required="">
                                        </div>

                                    </fieldset>

                                {% endfor %}
                                <div>
                                    <button
                                      id="payment-button"
                                      type="submit"
                                      class="btn btn-lg btn-info btn-block"
                                    >
                                      <span id="payment-button-amount">Create Product</span>
                                    </button>
                                  </div>
                            </div>

                        </form>

                            

                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div><!--/.col-->
</div>

{% block js %}
    

<script>
    
   

    document
    .getElementById("inward_form")
    .addEventListener("submit", function (e) {

        e.preventDefault();

       
        bike_number_id = document.getElementsByName("bike_number_id");
        chasis_no = document.getElementsByName("chasis_no");
        alert(chasis_no)
        motor_no = document.getElementsByName("motor_no");
        controller_no = document.getElementsByName("controller_no");
      
       
        bike_number_id_arr = [] 
        chasis_no_arr = [] 
        motor_no_arr = []
        controller_no_arr = []
        
        for (i = 0; i < chasis_no.length; i++) {

            if (chasis_no_arr.includes(chasis_no[i].value)){
                $("#message_div").css("display","contents");
                var div = document.getElementById('message');
            
                div.innerHTML += `<div class="alert alert-danger alert-dismissible fade show" id="message" role="alert"> Chasis No <strong>  ` +  chasis_no[i].value + `</strong>` + ` Entered multiple times <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span></button>`;
                    document.body.scrollTop = document.documentElement.scrollTop = 0;
                return false;
            } 
            if (motor_no_arr.includes(motor_no[i].value)){
                var div = document.getElementById('message');
            
                div.innerHTML += `<div class="alert alert-danger alert-dismissible fade show" id="message" role="alert"> Motor No <strong> ` +  motor_no[i].value  + `</strong>` + ` Entered multiple times <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span></button>`;
                    document.body.scrollTop = document.documentElement.scrollTop = 0;
                        
                return false;
            } 
            if (controller_no_arr.includes(controller_no[i].value)){
                var div = document.getElementById('message');
            
                div.innerHTML += `<div class="alert alert-danger alert-dismissible fade show" id="message" role="alert"> Controller No  <strong>` +  controller_no[i].value  + `</strong>` + ` Entered multiple times <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span></button>`;
                    document.body.scrollTop = document.documentElement.scrollTop = 0;
                        
                return false;
            }

            bike_number_id_arr.push(bike_number_id[i].value);
            chasis_no_arr.push(chasis_no[i].value);
            motor_no_arr.push(motor_no[i].value);
            controller_no_arr.push(controller_no[i].value);

        }

        let form_data = {
            csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
            bike_number_id: bike_number_id_arr,
            chasis_no: chasis_no_arr,
            motor_no: motor_no_arr,
            controller_no: controller_no_arr,
            
            }

      
      
        submit_form(form_data);

    });

    function submit_form(form_data) {


        console.log(form_data)

        $.ajax({   
            cache: false,                    // initialize an AJAX request
            type: "POST",
            url: "{% url 'update_bike_number' %}",
            data: form_data,     // add the country id to the POST parameters

            success: function (data) {   // `data` is from `get_topics_ajax` view function
                //window.location.href = http + "{% url 'list_inward' %}"

                if (data.status == 'done'){
                    window.location.href = "{% url 'list_inward' %}";
                }

                else if (data.error !== undefined){
                    var a = JSON.parse(data.error)
    
                    console.log(a)
                    document.body.scrollTop = document.documentElement.scrollTop = 0;
                    $("#message_div").css("display","contents");
                    var div = document.getElementById('message');
                    for (var name in a) {
                        for (var i in a[name]) {
                            console.log(name) 
                            div.innerHTML += `<div class="alert alert-danger alert-dismissible fade show" id="message" role="alert"> <strong>` + name + ` ` + `</strong>` + a[name][i].message + `<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span></button>`;
                            console.log(a[name][i].message) 
                        }
                    }
    
                }

                else{
                    console.log('here')
                    document.body.scrollTop = document.documentElement.scrollTop = 0;
                    $("#message_div").css("display","contents");
                    var div = document.getElementById('message');
                    div.innerHTML += `<div class="alert alert-danger alert-dismissible fade show" id="message" role="alert">` +  data.status + `<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span></button>`;
    
                }
            }

        });

    }

    

</script>
{% endblock js %}

{% endblock content %}